@import "~bootstrap/scss/functions";
@import "~/bootstrap/scss/variables";

//INPUT:

$input-border-color: #FD6B7D;

$input-group-addon-bg: #fbc2c8;
$input-group-addon-border-color: $input-border-color;



//COLORS
$new-theme-colors: (
    "primary": #fd8c9b,
    "secondary": #f7f5ee,
    "tertiary": #feedef,
    "success": #FFB1BE,
    "dark": #FD6B7D,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors );

$font-family-base: 'Montserrat', sans-serif;

@import "~bootstrap/scss/bootstrap";