
body {
  height: 100%;
  background:linear-gradient(180deg, #ffffff 0%, #FFFFE9 30%, #fbc2c8 70%, #fd8c9b 90%);
  background-repeat: no-repeat;
  background-size: cover;
}

.hovered-button {
  transition: color 0.1s ease-in-out;
}

.hovered-button:hover {
  color: #FFFFE9
}