/* html {
  height: 100%;
} */

#root {
  height: 100%;
}
body {
  height: 100%;
  background:linear-gradient(180deg, #ffffff 0%, #FFFFE9 30%, #fbc2c8 70%, #fd8c9b 90%);
  background-repeat: no-repeat;
  background-size: cover;
}

.hovered-button {
  transition: color 0.1s ease-in-out;
}

.hovered-button:hover {
  color: #FFFFE9
}

.radio-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

/* Stile per l'elemento interno del radio button selezionato */
